$main-color: #007fff;
$background-color: #fff;
$main-text-color: #2A3A27;
$generic-text-color: #ffcc00;
$generic-text-accent-color: #50c878;

$home-image: url('../images/theme-pics/paralax-sea-green-3.jpg');
$paralax-slice-1: url('../images/theme-pics/estacio.jpg');
$paralax-slice-2: url('../images/theme-pics/cupula.jpg');
$paralax-slice-3: url('../images/theme-pics/upv.jpg');
$paralax-slice-4: url('../images/theme-pics/cac.jpg');
$paralax-slice-5: url('../images/theme-pics/seda.jpg');
$paralax-slice-6: url('../images/theme-pics/valencia.jpg');
$paralax-slice-7: url('../images/theme-pics/mosaic.jpg');
$paralax-slice-8: url('../images/theme-pics/geometry.jpg');

$logo: url('../images/rc_logo_color_1a.png');

@import 'design';
