/ about us
%section#about.slice.noPaddingBottom
  .container
    .row
      .col-sm-12
        %h1 Welcome to Valencia
        %p Valencia is a dynamic city, full of culture. Valencia is the third largest city in Spain. It was founded by the Romans and lies on the banks of the river Turia, on the east coast of the Iberian Peninsula, on the Mediterranean Sea. Its rich historic centre is one of the largest in Spain. Major historical monuments include the Llotja de la Seda (a UNESCO  World Heritage Site), the Cathedral of Valencia, two towers (Torres de Serranos and Torres de Quart), and the Ciutat de les Arts i les Ciències (City of Arts and Sciences). There are many museums and art galleries. Well recommended are the Institut Valencià d'Art Modern (Valencian Institute of Modern Art) and the Museu de Belles Arts.
        %p For more information about Valencia, please visit:
        %ul
          %li
            %a{href: 'http://www.visitvalencia.com/en/home?_ga=1.174742698.903951220.1440397604'} Visit VLC
          %li
            %a{href: 'http://www.valencia-cityguide.com/'} Valencia City Guide
    .row
      .portfolio-items.isotopeWrapper.clearfix.imgHover
        %article.col-sm-3.isotopeItem
          %section.imgWrapper
            %img.img-responsive{:alt => "", :src => "/images/vlc/valencia-1.jpg"}
          %section.boxContent
            %h3 City of Arts and Sciences
        %article.col-sm-3.isotopeItem
          %section.imgWrapper
            %img.img-responsive{:alt => "", :src => "/images/vlc/valencia-2.jpg"}
          %section.boxContent
            %h3 Malvarrosa Beach
        %article.col-sm-3.isotopeItem
          %section.imgWrapper
            %img.img-responsive{:alt => "", :src => "/images/vlc/valencia-3.jpg"}
          %section.boxContent
            %h3 Universitat Politècnica de València
        %article.col-sm-3.isotopeItem
          %section.imgWrapper
            %img.img-responsive{:alt => "", :src => "/images/vlc/valencia-4.jpg"}
          %section.boxContent
            %h3 Cathedral of Valencia
%section.color4
  .container
    .row.mt30
      .col-sm-1
      .col-sm-10.text-center
        %h1 Congress Venue
      .col-sm-1
    .row.mt30.mb30
      .col-sm-6
        %h2 Universitat Politècnica de València
        %p
          The Universitat Politècnica de València
          = surround '(', '),' do
            %a{href: 'http://www.upv.es', target: '_blank'} UPV
          Vera Campus, is found close to the beach, just outside of the main city centre.
        %p
          The conference itself will take place in building 7I and 6G, which can be found on the
          %a{href: 'http://www.upv.es/plano/plano-2d-en.html'} map of the Vera Campus.
      .col-sm-6
        %h2 Getting to the campus
        %h3 Bus
        %p The campus is easily accessed via lines:
        %p
          EMT Bus stops: 9-30-40-41-71
        %p
          More information
          %a{href: 'https://www.emtvalencia.es/ciudadano/index.php?lang=en'} here.
        %h3 Tram/Underground
        %p
          The campus can be accessed by Metrovalencia on lines 4 and 6, using the
          %strong
            Tarongers
          stop. For more information, click
          %a{href: 'http://www.metrovalencia.es/page.php?idioma=_en'} here.
%section
  .container
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1
          Getting to Valencia
      .col-sm-1
    .row.mt30.mb30
      .col-sm-4
        %h1 Plane
        %p Valencia is the third largest city in Spain, and therefore is easily access by air transport, both low-cost and regular airlines. The airport is well connected to the main city (underground, bus, taxi...), and travellers will have no problem getting to and from Valencia using air transport.
      .col-sm-4
        %h1 Train
        %p Valencia has both normal and high-speed train lines, and with only 1.5 hours between Valencia and Madrid, it is easily accessible by high-speed train (AVE), allowing travellers to also access to the city through the country's capital.
      .col-sm-4
        %h1 Car
        %p Valencia is on the main transport networks in Spain, and is easily accessed by car.
%section
  .container
    .row.mb30
      .col-lg-12.alert.alert-info
        %p
          %strong
            Information for Foreigners
          Please make sure you have met all the requirements for entry into Spain if you are not a citizen of the European Union.
        %p.text-wrap
          %a{href: 'http://www.exteriores.gob.es/Portal/en/ServiciosAlCiudadano/InformacionParaExtranjeros/Paginas/Inicio.aspx'} http://www.exteriores.gob.es/Portal/en/ServiciosAlCiudadano/InformacionParaExtranjeros/Paginas/Inicio.aspx
