/ about us
%section#about.slice
  .container
    .row
      .col-sm-1
      .col-sm-10.text-center
        %h2 1st Biannual Seminar on Geomatic Engineering
        %h3 5 - 6 July, 2017
        %h3 Valencia, Spain
      .col-sm-1
    .row
      .col-md-12.text-justify
        %p This biannual seminary was born within the framework provided by the inter-university doctoral program in Geomatics Engineering from the Polytechnic University of Valencia and the Polytechnic University of Madrid.
        %p The primary objective is to create a common space where everyone involved in the programme (students, directors, and advisors) can come together and share their experiences and scientific advances developed in their own research
        %p We will try to be more ambitious in trying to incorporate the business side into the seminar, so that both the academic world, represented by our doctoral students who are training as researchers, and business can be found under the common umbrella of research and development.
        %p The seminar is open to not only to the students of our PhD programme, but also any students from other doctoral programmes whose research is related to geomatics. We hope that this space can be a place for them to also share their work and research.    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Papers and Contributions
        %p All participants should prepare their work as short articules of no more than three pages (link to the template), where they can present the advances in their research and results of their work. These articles will be available on the web page and protected with a corresponding ISSN.
        %p For those contributions without the possibility for an oral presentation during the seminar, there will be the possibility to present the work through a poster (link to the poster template).
        %p Each of the contributions should deliver the corresponding article so that it is available on the web before the seminar and the corresponding poster or oral presentation after the completion of the seminar.
      .col-sm-1
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Themes
        %p The themes correspond to the concentrations int he doctoral programme:
        %ul
          %li Geocomputing, 3D Modeling, and Heritage
          %li Geodesy and Geophysics
          %li Earth observation, Catography, and Environmental applications
      .col-sm-1
