/ about us
%section#about.slice
  .container
    .row
      .col-sm-1
      .col-sm-10.text-center
        %h2 First Congress in Geomatics Engineering
        %h3 5 - 6 July, 2017
        %h3 Valencia, Spain
      .col-sm-1
    .row
      .col-sm-12.col-md-6
        %img.center-block.center{:src => "/images/upv_logo.jpg"}
      .col-sm-12.col-md-6
        %img.center-block{:src => '/images/logos/logo_upm_main.png'}
    .row.mt30
      .col-md-12.text-justify
        %p The 1st Congress in Geomatics Engineering aims to bring together scientists, academics and PhD students to exchange and share their results of research and innovation related to any Geomatics discipline. It offers a first-class interdisciplinary platform to present and discuss the innovations, trends, concerns, challenges and solutions adopted in the different fields of Geomatics.
        %p This biennial Congress is born within the framework provided by the Interuniversity PhD program in Geomatics Engineering by the Universidad Politécnica de Valencia and the Universidad Politécnica de Madrid.
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Contributions
        %p
          All participants should prepare their work as articles of 5 to 10 pages following the format that is detailed in the following link
          = surround '(', '),' do
            %a{:href => "/assets/plantilla_articulos_congreso.docx", target: "_blank"} download template
          where they can present the progress of their research and the obtained results. These articles will be freely available on the congress website and will be protected with the corresponding ISBN (for the proceedings book that will contain the articles) and doi for each particular contribution.
        %p For those contributions not selected for an oral presentation during the congress, there will be a chance to present a poster (vertical DINA0).
        %p Thus, each of the contributions must deliver the corresponding article and, on a voluntary basis, the corresponding presentation (oral or poster), which will also be posted on the congress website.
      .col-sm-1
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Thematic Areas
        %p Any scientific work related to Geomatics Engineering can be presented at the congress. In particular, research related to any of the thematic areas of the PhD programme will be adequate:
        %ul
          %li Geocomputing, 3D Modelling and Cultural Heritage
          %li Geodesy and Geophysics
          %li Earth observation, Catography, and Environmental applications
      .col-sm-1
    .row.mt30
      .col-md-1
      .col-md-10.col-sm-12
        %h1 Organizing Committee
        %ul
          %li Jorge Padín Devesa (Director of the Department of Cartographic Engineering, Geodesy and Photogrammetry, UPV)
          %li Jesús Velasco Gómez (Director of the Technical School of Engineering in Surveying, Geodesy and Cartography, (UPM)
          %li José Luis Lerma García (Coordinator of the PhD Programme in Geomatics Engineering, UPV)
          %li Belén Benito Oterino (Coordinator of the Academic Commission at the UPM of the PhD Programme in Geomatics Engineering, UPM)
          %li Ángel Martín Furones (Deputy Research Assistant of the Department of Cartographic Engineering, Geodesy and Photogrammetry, UPV)
          %li Iñigo Molina Sánchez (Deputy Research, Postgraduate and Doctoral Assistant of the Technical School of Engineering in Surveying, Geodesy and Cartography, UPM)
      .col-md-1
