%section#collaborators.slice
  .container.clearfix
    .row.mb20
      %h1 Collaborators with the Doctoral Programme
    .row
      .portfolio-items.isotopeWrapper.clearfix.imgHover
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %img.img-responsive.center-block{src: "/images/sponsors/csic.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %img.img-responsive.center-block{src: "/images/sponsors/ign.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %img.img-responsive.center-block{src: "/images/sponsors/cttc.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %img.img-responsive.center-block{src: "/images/sponsors/icv_logo.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %img.img-responsive.center-block{src: "/images/sponsors/trimble.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %img.img-responsive.center-block{src: "/images/sponsors/leica.jpg"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %img.img-responsive.center-block{src: "/images/sponsors/topcon.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %img.img-responsive.center-block{src: "/images/sponsors/geo.png"}
