%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p PhD Students undertaken a Doctoral Programme, 35 euros.
        %p Other attendees, 60 euros.
        %p This price includes the coffee breaks and lunch on the 5th. Each contribution will require, at least, one of the participants to be registered before June 1, 2017.
        %p
          %a{:href=>"https://goo.gl/9927j6", target: "_blank"} Link to registration form
        %p Cancellation Policy: 100% until June 1st and 50% as of June 1st. 
