%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p Students from the doctoral programme, 35 euros.
        %p Other attendees, 60 euros.
        %p This price includes the coffee breaks and lunch on the 5th. Each presentation will require, at least one of the participants, to be registered before the 1st of June, 2017.
        %p To register, you will complete the follow form (available after 1 March, 2017)
