%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p The registration for all participants is 30 euros. This price includes coffees and lunch on the 5th. Each contribution will require at least one of the authors to be registered before the 1st of June, 2017.
        %p To register, one should complete the following form (link to the form)
