/ footer
%footer
  %section#mainFooter
    #footer.container
      .row
        .col-sm-4
          .footerWidgetLeft
            %img#footerLogo{:src => "/images/logos/cigeo_logo.png"}
            %a{href: 'http://www.upv.es/', target: '_blank'}
              %img#footerLogo{:src => "/images/upv_logo.jpg"}
            %a{href: 'http://www.upm.es/', target: '_blank'}
              %img#footerLogo{:src => '/images/logos/logo_upm_main.png'}
            %a{href: 'http://www.upv.es/entidades/DICGF/index-es.html', target: '_blank'}
              %img#footerLogoSmall{:src => "/images/dicgf.png"}
            %a{href: 'http://www.topografia.upm.es/portal/site/ETSITopografia', target: '_blank'}
              %img#footerLogoSmall{:src => '/images/logos/upm_logo.png'}
            %a{href: 'http://www.upv.es/entidades/ETSIGCT/', target: '_blank'}
              %img#footerLogoSmall{:src => "/images/ETSIGCT_logo.jpg"}
        .col-sm-8
          %h3 Contact Information
          %p
            For any questions or comments, send an e-mail to:
            %a{href: 'mailto:geomatica2017@upv.es'} geomatica2017@upv.es
          .row
            .col-lg-12
              %h4
                Local organising committee:
              %ul
                %li
                  Jorge Padín Devesa (Director del Departamento de Ingeniería Cartográfica, Geodesia y Fotogrametrá, UPV)
                %li
                  Jesús Velasco Gómez (Director de la Escuela Técnica Superior de Ingeniería en Topografía, Geodesia y Fotogrametría, UPM)
                %li
                  José Luis Lerma García (Coordinador del programa de doctorado en ingeniería Geomática, UPV)
                %li
                  Belén Benito Oterino (Coordinadora de la comisión académica UPM del programa de doctorado en ingeniería Geomática, UPM)
                %li
                  Ángel Martín Furones (Subdirector de Investigación del Departamento de Ingeniería Cartográfica, Geodesia y Fotogrametrá, UPV)
                %li
                  Iñigo Molina Sánchez (Subdirecror de Investigación, Postgrado y Doctorado de la Escuela Técnica Superior de Ingenieros en Topografía, Geodesia y Cartografía, UPM)
            .row
              .col-md-12.mt30
                %h4
                  %b Acknowledgments
                %p.small Images used on the website were attained through Wikimedia Commons. The following images were used, with any change other than size reduction for the web. All other images were provided by José Luis Lerma and Ángel Marqués.
                %ul.small
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Ciutat_de_les_Arts_i_les_Ci%C3%A8ncies_%C3%A0_la_noche.jpg'} Ciutat de les Arts i les Ciències at night
                    by Emilio García
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Valencia_-_Estacio_del_Nord_01.jpg'} Estació del Nord
                    by Mihael Grmek
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Mercado_Central,_Valencia,_Espa%C3%B1a,_2014-06-30,_DD_116.JPG'} Mercat Central
                    by Diego Delso
                  %li
                    %a{href: 'https://www.flickr.com/photos/high__voltage/6686826315'} Valencia
                    by Federico Galarraga
