%section#dates.slice.color4
  .container
    .row
      .col-xs-1
      .col-xs-10
        %p The registration and access to the platform for manuscript submission will start on 1 March, 2017.
        %p The articles should be sent before May 15, 2017 in the correct format. Only those articles that meet the requirements will be eligible for inclusion in the proceedings book.
      .col-xs-1
