%section#dates.slice.color4
  .container
    .row
      .col-xs-1
      .col-xs-10
        %p The articles should be sent before the 1st of June, 2017 in the correct format. Only those works that meet the requirements are eligible for inclusion in the seminar.
      .col-xs-1
