%section#keynote.slice
  .container
    .row
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/colomina.jpg"}
        %h3 Ismael Colomina y Folch
        %p Ismael Colomina Folch is, since 2015, Chief Scientist in Geonumerics company. Colomina was the Head of Geomatics of the Centre Tecnològic de Comunicacions de Catalunya (CTTC, Castelldefels, Spain) since the beginning of 2014. Prior to that, between 1998 and 2013, he was the Director of the Institute of Geomatics (IG) and the Head of Geodesy of the Institute of Cartography of Catalonia (ICC) where he worked from 1982 to 1998.
        %p Dr. Colomina is an international expert in INS/GNSS navigation and post-mission trajectory determination for geodesy, photogrammetry and remote sensing applications. He is also an expert in sensor orientation and calibration. He belongs to the group of geomaticians that pioneered the use of unmanned aircraft in photogrammetry and remote sensing.
        %p Since 1992, Colomina has served as chair and co-chair of ISPRS Working Groups (WGs) and currently of the WG III/I ""Sensor Modelling for Integrated Orientation and Navigation.” He also served as President of EuroSDR's Commission I “Sensors, primary data acquisition and georeferencing" from 2002 to 2006.
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/benito.jpg"}
        %h3 Belén Benito Oterino
        %p Belén Oterino is the Director of the Research Group in Seismic Engineering at the Polytechnic University of Madrid, where she is a professor.
        %p Her professional experience includes: Seismic monitoring of critical installations (Nuclear Safety Council, CSN and National Company of Radioactive Waste, ENRESA). Seismic hazard studies for the revision and definition of Spanish seismic standards (NCSE-94 and NCSE-02). Consultancy for the definition of seismic action in special installations, such as nuclear power plants, dams, bridges, industrial plants and ITER. Seismic Risk research direction for the emergency plans definition in the regions of Andalusia, Navarra and Murcia. Cooperation research direction in subjects of seismic threat in Central America and Caribbean.
        %p She has been principal researcher in 25 publicly funded research projects and has more than 70 publications in scientific journals.
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/ruiz.jpg"}
        %h3 Antonio Ruiz Verdú
        %p Antonio Ruiz-Verdú has a long experience in the remote sensing of biophysical parameters. Since 2013, he is research assistant in the Laboratory for Earth Observation (LEO) at IPL-UVEG. He worked previously in Spanish Government Agencies for Space research (INTA; 2008-2012) and hydrological and ecological applied research (CEDEX; 1996-2007) in which he participated in national-funded studies for crop mapping, detection of irrigated areas and estimation of water needs for agriculture. He has participated in ESA-funded projects (SPARC, SEN2FLEX, SEN3EXP) for the preparation of new EO missions and the validation of algorithms for the retrieval of biophysical parameters.
