%section#keynote_talks.slice
  .container
    .row
      .col-md-4
        %h3 Delivering and using 3D models on the web: are we read
        %p Digital technologies are now mature for producing high quality digital replicas of Cultural Heritage (CH) assets. The research results produced in the last decade have shown an impressive evolution and consolidation of the technologies for acquiring high-quality digital 3D models, encompassing both geometry and color.
        %p What remains still an open problem is how to deliver those data and related knowledge to our community. The web is nowadays the main channel for the dissemination of knowledge. Emerging commercial solutions for web-publishing of 3D data are consolidating and becoming a de-facto standard for many applications. But CH is a very specific domain, requiring highly flexible solutions.
        %p Some recent experiences will be demonstrated, aimed at providing a support to the archival of archaeological data, to web-based publishing of very high-resolution digitisation results and finally to the documentation of a complex restoration action. All those examples have been recently implemented on the open-source 3DHOP platform, developed at CNR-ISTI.

      .col-md-4
        %h3 Building a Global Virtual Archaeology Data Network: Tampa, Paris, La Mancha, and Beyond
        %p Global efforts in 3D documentation of artifacts, buildings, sites, and landscapes are transforming archaeology and the scientific process. 3D imagery is no longer simply a visualization tool but rather it is taking the lead in creating opportunities for new methods of analysis and scientific discovery. Key to this activity is the creation of a collection of flexible hubs or networks where a diverse array of global documentation efforts may be integrated into a suite of visualization, analytical, and database tools so that new studies may proceed on a global scale. CVAST is working with international research facilities, museums, and archaeologists to make this a reality.

      .col-md-4
        %h3 3D mass digitization: a milestone for archeological documentation
        %p In the heritage field, the demand for fast and efficient 3D digitisation technologies for historic remains is increasing. Besides, 3D digitization has proved to be a promising approach to enable precise reconstructions of objects. Yet, unlike the digital acquisition of cultural goods in 2D widely used today, 3D digitisation often still requires a significant investment of time and money. To make it more widely available to heritage institutions, the Competence Center for Cultural Heritage Digitization at the Fraunhofer Institute for Computer Graphics Research IGD has developed CultLab3D, the world’s first 3D scanning facility for collections of three-dimensional objects mainly. CultLab3D is specifically designed to automate the entire 3D digitisation process thus allowing to scan and archive objects on a large-scale. Moreover, scanning and lighting technologies are combined to capture the exact geometry, texture, and optical material properties of artefacts to produce highly accurate photo-realistic representations. The unique setup allows to shorten the time needed for digitisation to several minutes per artefact instead of hours, as required by conventional 3D scanning methods.
