%section#keynote.slice
  .container
    .row
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/colomina.jpg"}
        %h3 Ismael Colomina y Folch
        %p Ismael Colomina Folch is, since 2015, Chief Scientist in Geonumerics company. Colomina was the Head of Geomatics of the Centre Tecnològic de Comunicacions de Catalunya (CTTC, Castelldefels, Spain) since the beginning of 2014. Prior to that, between 1998 and 2013, he was the Director of the Institute of Geomatics (IG) and the Head of Geodesy of the Institute of Cartography of Catalonia (ICC) where he worked from 1982 to 1998.
        %p Dr. Colomina is an international expert in INS/GNSS navigation and post-mission trajectory determination for geodesy, photogrammetry and remote sensing applications. He is also an expert in sensor orientation and calibration. He belongs to the group of geomaticians that pioneered the use of unmanned aircraft in photogrammetry and remote sensing.
        %p Since 1992, Colomina has served as chair and co-chair of ISPRS Working Groups (WGs) and currently of the WG III/I ""Sensor Modelling for Integrated Orientation and Navigation.” He also served as President of EuroSDR's Commission I “Sensors, primary data acquisition and georeferencing" from 2002 to 2006.
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/benito.jpg"}
        %h3 Belén Benito Oterino
        %p Belén Oterino es la Directora del grupo de investigación en Ingeniería Sísmica de la Universidad Politécnica de Madrid, de donde es catedrática.
        %p Su experiencia profesional incluye: Vigilancia sísmica de emplazamientos de Instalaciones críticas (Consejo de Seguridad Nuclear, CSN y Empresa Nacional de Residuos Radiactivos, ENRESA). Estudios de peligrosidad sísmica para la revisión de normas sismorresistentes Españolas (NCSE-94 y NCSE-02). Consultoría para la definición de la acción sísmica en emplazamientos de instalaciones especiales, como centrales nucleares, presas, puentes, plantas industriales e ITER. Dirección de estudios de Riesgo Sísmico para la definición de planes de emergencia en la Comunidad Autónoma de Andalucía, Diputación Foral de Navarra y Región de Murcia (Protección Civil). Dirección de estudios y proyectos de cooperación en temas de amenaza sísmica en Centroamérica y Caribe.
        %p Ha sido investigadora principal en 25 proyectos de investigación de financiación pública y tiene más de 70 publicaciones en revistas científicas.
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/ruiz.jpg"}
        %h3 Antonio Ruiz Verdú
        %p Antonio Ruiz-Verdú has a long experience in the remote sensing of biophysical parameters. Since 2013, he is research assistant in the Laboratory for Earth Observation (LEO) at IPL-UVEG. He worked previously in Spanish Government Agencies for Space research (INTA; 2008-2012) and hydrological and ecological applied research (CEDEX; 1996-2007) in which he participated in national-funded studies for crop mapping, detection of irrigated areas and estimation of water needs for agriculture. He has participated in ESA-funded projects (SPARC, SEN2FLEX, SEN3EXP) for the preparation of new EO missions and the validation of algorithms for the retrieval of biophysical parameters.
