%section#fees.slice
  .container
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th &nbsp;
                %th July 5
                %th &nbsp;
                %th &nbsp;
            %tbody
              %tr
                %td 9:00-9:30
                %td Opening Presentation
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 9:30-10:30
                %td Keynote Speaker
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 10:30-11:00
                %td Coffee Break
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 11:00-11:20
                %td Presentation 1 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 11:20-11:40
                %td Presentation 2 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 11:40-12:00
                %td Presentation 3 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 12:00-12:20
                %td Presentation 4 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 12:20-12:40
                %td Presentation 5 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 12:40-13:00
                %td Presentation 6 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 13:00-14:00
                %td Lunch
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 14:00-15:00
                %td Keynote Speaker
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 15:00-15:20
                %td Presentation 7 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 15:20-15:40
                %td Presentation 8 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 15:40-16:00
                %td Presentation 9 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 16:00-16:30
                %td Coffee Break
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 16:30-16:50
                %td Presentation 10 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 16:50-17:10
                %td Presentation 11 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 17:10-17:30
                %td Presentation 12 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 17:30-17:50
                %td Presentation 13 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 17:50-18:10
                %td Presentation 14 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 18:10-18:30
                %td Presentation 15 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 18:30-19:00
                %td
                  Posters:
                  %br
                  Poster 1 (Title/authors)
                  %br
                  Poster 2 (Title/authors)
                  %br
                  Poster 3 (Title/authors)
                %td
                  %br
                  Article
                  %br
                  Article
                  %br
                  Article
                %td
                  %br
                  Presentation
                  %br
                  Presentation
                  %br
                  Presentation
      .col-xs-1
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th &nbsp;
                %th July 6
                %th &nbsp;
                %th &nbsp;
            %tbody
              %tr
                %td 9:00-10:00
                %td Keynote Speaker
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 10:00-10:20
                %td Presentation 16 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 10:20-10:40
                %td Presentation 17 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 10:40-11:00
                %td Presentation 18 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 11:00-11:30
                %td Coffee Break
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 11:30-11:50
                %td Presentation 19 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 11:50-12:10
                %td Presentation 20 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 12:10-12:30
                %td Presentation 21 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 12:30-12:50
                %td Presentation 22 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 12:50-13:10
                %td Presentation 23 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 13:10-13:30
                %td Presentation 24 (Title/authors)
                %td Article
                %td Presentation
              %tr
                %td 13:30-14:00
                %td Closing Ceremony
                %td &nbsp;
                %td &nbsp;
      .col-xs-1
    .row.mt30
      .col-xs-1
      .col-xs-10
        %p The presentations should specify the title, and links to the corresponding article and presentation (or poster).
      .col-xs-1
