%section#fees.slice
  .container
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th.timecol &nbsp;
                %th July 5
            %tbody
              %tr
                %td 9:00-9:30
                %td Welcome
              %tr
                %td 9:30-10:30
                %td Keynote: Ismael Colomina i Fosch (Scientific Director f Geonumerics)
              %tr
                %td 10:30-11:30
                %td Session 1
              %tr
                %td 11:30-12:00
                %td Coffee Break
              %tr
                %td 12:00-13:30
                %td Session 2
              %tr
                %td 13:30-14:30
                %td Lunch Break
              %tr
                %td 14:30-15:15
                %td Keynote: Belén Benito (Director of the research group in Seismic Engineering at the Universidad Politécnica de Madrid)
              %tr
                %td 15:15-16:30
                %td Session 3
              %tr
                %td 16:30-17:00
                %td Coffee Break
              %tr
                %td 17:00-18:30
                %td Session 4
              %tr
                %td 18:30-19:30
                %td Poster Session
      .col-xs-1
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th.timecol &nbsp;
                %th July 6
            %tbody
              %tr
                %td 9:00-9:45
                %td Keynote: Antonio Ruiz (Scientist in the research laboratory for Earth Observation, Universidad de Valencia)
              %tr
                %td 9:45-11:00
                %td Session 5
              %tr
                %td 11:00-11:30
                %td Coffee Break
              %tr
                %td 11:30-13:00
                %td Session 6
              %tr
                %td 13:30-14:00
                %td Closing
      .col-xs-1
