%section#sponsors.slice
  .container.clearfix
    .row
      .portfolio-items.isotopeWrapper.clearfix.imgHover
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %a{href: "http://www.icv.gva.es", target: "_blank"}
              %img.img-responsive.center-block{src: "/images/sponsors/icv_logo.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %a{href: "http://www.trimble.com", target: "_blank"}
              %img.img-responsive.center-block{src: "/images/sponsors/trimble.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %a{href: "http://www.al-top.com/", target: "_blank"}
              %img.img-responsive.center-block{src: "/images/sponsors/altop.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %a{href: "http://www.leica-geosystems.es/es/index.htm", target: "_blank"}
              %img.img-responsive.center-block{src: "/images/sponsors/leica.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %a{href: "http://topconpositioning.es", target: "_blank"}
              %img.img-responsive.center-block{src: "/images/sponsors/topcon.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %a{href: "http://www.faro.com/es-es", target: "_blank"}
              %img.img-responsive.center-block{src: "/images/sponsors/faro.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %a{href: "http://www.coigt.org/CVYM", target: "_blank"}
              %img.img-responsive.center-block{src: "/images/sponsors/COITG.png"}
        %article.col-md-3.isotopeItem.sponsorLogo
          %section.imgWrapper
            %a{href: "http://www.esri.es/es/", target: "_blank"}
              %img.img-responsive.center-block{src: "/images/sponsors/esri.png"}
