/ about us
%section#about.slice
  .container
    .row
      .col-sm-1
      .col-sm-10.text-center
        %h2 1ª Jornada/bienal en Ingeniería Geomática
        %h3 5 - 6 Julio, 2017
        %h3 Valencia, España
      .col-sm-1
    .row
      .col-md-12.text-justify
        %p Estas Jornadas de carácter bianual nacen dentro del marco que proporciona el programa de doctorado interuniversitario en Ingeniería Geomática por la Universidad Politécnica de Valencia y la Universidad Politécnica de Madrid.
        %p En principio el objetivo era crear un espacio común donde todos los actores del programa (alumnos, directores y tutores) se encontraran y pudieran compartir experiencias y mostrar los avances científicos desarrollados en los trabajos de investigación.        %p Intentaremos ser un poco más ambiciosos tratando de incorporar la vertiente empresarial también a las jornadas, de manera que tanto el mundo académico, representado por nuestros estudiantes de doctorado que se están formando como investigadores, y el mundo empresarial puedan encontrarse bajo el factor común de la investigación y el desarrollo.        %p En este sentido entendemos que no únicamente alumnos de nuestro programa de doctorado pueden ser protagonistas de las jornadas, por lo que alumnos de otros programas de doctorado, pero cuya investigación tiene que ver con la geomática, también pueden encontrar aquí un espacio de presentación y difusión de su trabajo investigador.    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1
          Contribuciones
        %p Todos Los participantes deberán redactar sus trabajos a modo de artículos cortos de tres páginas (link a la plantilla), donde expondrán los avances de su investigación y los resultados obtenidos. Estos artículos estarán disponibles en la página web y estarán protegidos con el correspondiente ISSN.
        %p Para aquellas contribuciones cuya presentación oral no sea posible en las jornadas, se abre la posibilidad de presentación a través de un poster (link a la plantilla del poster).
        %p Así, cada una de las contribuciones deberá entregar el correspondiente artículo, disponible en la web antes de las fechas previstas para las jornadas, y la correspondiente presentación (oral o poster) disponible también en la web pero con posterioridad a las fechas previstas para la jornada.
      .col-sm-1
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Áreas Temáticas
        %p Las áreas temáticas son las correspondientes a las áreas del programa de doctorado:
        %ul
          %li Geocomputación, Modelado 3D y Patrimonio
          %li Geodesia y Geofísica
          %li Observación terrestre, Cartografía y aplicaciones medioambientales
      .col-sm-1
