/ about us
%section#about.slice
  .container
    .row
      .col-sm-1
      .col-sm-10.text-center
        %h2 Primer Congreso en Ingeniería Geomática
        %h3 5-6 de Julio de 2017
        %h3 Valencia, España
      .col-sm-1
    .row
      .col-sm-12.col-md-6
        %img.center-block.center{:src => "/images/upv_logo.jpg"}
      .col-sm-12.col-md-6
        %img.center-block{:src => '/images/logos/logo_upm_main.png'}
    .row.mt30
      .col-md-12.text-justify
        %p El I Congreso en Ingeniería Geomática tiene como objetivo reunir a científicos, académicos y estudiantes de doctorado para intercambiar y compartir sus resultados de investigación e innovación relativos a cualquier disciplina Geomática. Ofrece una plataforma interdisciplinar de primer nivel para presentar y discutir las innovaciones, tendencias, preocupaciones, desafíos y soluciones adoptadas en los diferentes campos de la Geomática.
        %p Este Congreso, de carácter bienal, nace dentro del marco que proporciona el programa de doctorado interuniversitario en Ingeniería Geomática por la Universidad Politécnica de Valencia y la Universidad Politécnica de Madrid.    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1
          Contribuciones
        %p
          Todos Los participantes deberán redactar sus trabajos a modo de artículos de entre 5-10 páginas siguiendo el formato que se detalla en el siguiente link
          = surround '(', '),' do
            %a{:href => "/assets/plantilla_articulos_congreso.docx", target: "_blank"} bajar plantilla
          donde expondrán los avances de su investigación y los resultados obtenidos. Estos artículos estarán disponibles en abierto en la página web del congreso y estarán protegidos con el correspondiente ISSN (para el libro de actas que contendrá los artículos) y doi para cada contribución particular.
        %p Para aquellas contribuciones cuya presentación oral no sea posible en las jornadas, se abre la posibilidad de presentación a través de un poster (DIN A0 vertical).
        %p Así, cada una de las contribuciones deberá entregar el correspondiente artículo y, de forma voluntaria, la correspondiente presentación (oral o poster), que también se colgará en la página web del congreso.
      .col-sm-1
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Áreas Temáticas
        %p Cualquier trabajo científico relativo a la Ingeniería Geomática podrá ser expuesto en el congreso. En especial, serán adecuados aquellos trabajos relacionados con las áreas temáticas del programa de doctorado:
        %ul
          %li Geocomputación, Modelado y Patrimonio
          %li Geodesia y Geofísica
          %li Observación terrestre, Cartografía y aplicaciones medioambientales
      .col-sm-1
    .row.mt30
      .col-md-1
      .col-md-10.col-sm-12
        %h1 Comité Organizador
        %ul
          %li
            Jorge Padín Devesa (Director del Departamento de Ingeniería Cartográfica, Geodesia y Fotogrametrá, UPV)
          %li
            Jesús Velasco Gómez (Director de la Escuela Técnica Superior de Ingenieros en Topografía, Geodesia y Cartografía, UPM)
          %li
            José Luis Lerma García (Coordinador del programa de doctorado en ingeniería Geomática, UPV)
          %li
            Belén Benito Oterino (Coordinadora de la comisión académica UPM del programa de doctorado en ingeniería Geomática, UPM)
          %li
            Ángel Martín Furones (Subdirector de Investigación del Departamento de Ingeniería Cartográfica, Geodesia y Fotogrametrá, UPV)
          %li
            Iñigo Molina Sánchez (Subdirecror de Investigación, Postgrado y Doctorado de la Escuela Técnica Superior de Ingenieros en Topografía, Geodesia y Cartografía, UPM)
      .col-md-1
