%section#about.slice.noPaddingBottom
  .container
    .row
      .col-sm-12
        %h1 Bienvenido a Valencia
        %p Valencia es una ciudad dinámica, llena de cultura. Valencia es la tercera capital más grande de España. Fundada por los romanos en el tramo final del río Turia, se localiza en la costa este de la Península Ibérica, a orillas del Mar Mediterráneo. Su rico centro histórico es uno de los más grandes de España. Donde destacan monumentos históricos como la Lonja de la Seda (Patrimonio de la Humanidad por la UNESCO), la Catedral de Valencia, las Torres de Serranos y las Torres de Quart. Además, hay numerosos museos y galerías de arte en la ciudad. Recomendables son las visitas al Institut Valencià d’Art Modern (Instituto Valenciano de Arte Moderno), al Museu de Belles Arts (Museo de Bellas Artes) y a la Ciutat de les Arts i les Ciències (Ciudad de las Artes y las Ciencias).
        %p Para obtener más información acerca de Valencia, por favor visite:
        %ul
          %li
            %a{href: 'http://www.visitvalencia.com/en/home?_ga=1.174742698.903951220.1440397604'} Visit VLC
          %li
            %a{href: 'http://www.valencia-cityguide.com/'} Valencia City Guide
    .row
      .portfolio-items.isotopeWrapper.clearfix.imgHover
        %article.col-sm-3.isotopeItem
          %section.imgWrapper
            %img.img-responsive{:alt => "", :src => "/images/vlc/valencia-1.jpg"}
          %section.boxContent
            %h3 Ciudad de las Artes y las Ciencias
        %article.col-sm-3.isotopeItem
          %section.imgWrapper
            %img.img-responsive{:alt => "", :src => "/images/vlc/valencia-2.jpg"}
          %section.boxContent
            %h3 Playa de Malvarrosa
        %article.col-sm-3.isotopeItem
          %section.imgWrapper
            %img.img-responsive{:alt => "", :src => "/images/vlc/valencia-3.jpg"}
          %section.boxContent
            %h3 Universitat Politècnica de València
        %article.col-sm-3.isotopeItem
          %section.imgWrapper
            %img.img-responsive{:alt => "", :src => "/images/vlc/valencia-4.jpg"}
          %section.boxContent
            %h3 Catedral de Valencia
%section.color4
  .container
    .row.mt30
      .col-sm-1
      .col-sm-10.text-center
        %h1 Sede del Congreso
      .col-sm-1
    .row.mt30.mb30
      .col-sm-6
        %h2 Universitat Politècnica de València
        %p
          La Universitat Politècnica de València
          = surround '(', '),' do
            %a{href: 'http://www.upv.es', target: '_blank'} UPV
          Campus de Vera, se encuentra cerca de la playa, a las afueras del centro de la ciudad.
        %p
          El congreso tendrá lugar en los edificios 7I. Se pueden localizar en el
          %a{href: 'http://www.upv.es/plano/plano-2d-es.html'} mapa del Campus de Vera.
      .col-sm-6
        %h2 Cómo ir al Campus
        %h3 Autobús
        %p El campus se accede fácilmente con las líneas:
        %p
          Paradas de Autobús de la EMT: 9-30-40-41-71
        %p
          Más información
          %a{href: 'http://www.emtvalencia.es/ciudadano/index.php?lang=es'} aquí.
        %h3 Tranvía/Metro
        %p
          Se accede al campus con Metrovalencia, líneas 4 y 6, bajando en la parada de
          %strong
            Tarongers.
          Para más información, pulse
          %a{href: 'http://www.metrovalencia.es'} aquí.
%section
  .container
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1
          Cómo Llegar a Valencia
      .col-sm-1
    .row.mt30.mb30
      .col-sm-4
        %h1 Avión
        %p Los viajeros no tendrán ningún problema en llegar y salir de Valencia utilizando transporte aéreo. Valencia es la tercera ciudad más grande de España. Por lo tanto, es de fácil acceso en transporte aéreo, tanto de bajo coste como mediante compañías aéreas regulares. El aeropuerto está bien conectado con el centro de la ciudad (metro, autobús, taxi...).
      .col-sm-4
        %h1 Tren
        %p Valencia cuenta con tren normal y de alta velocidad (AVE). En AVE, Valencia está a solo 90 minutos de Madrid, lo que permite a los viajeros acceder también a la ciudad a través de la capital del país.
      .col-sm-4
        %h1 Coche
        %p Valencia está en las principales redes de transporte en España, y es de fácil acceso en coche.
%section
  .container
    .row.mb30
      .col-lg-12
        %h1 Recomendaciones para el alojamiento
        .table-responsive
          %table.table
            %tbody
              %tr
                %td
                  Hotel Silken 4*
                %td
                  %a{:href=>"http://www.hoteles-silken.com/destinos/valencia", target: "_blank"} http://www.hoteles-silken.com/destinos/valencia
              %tr
                %td Hotel Barceló 4*
                %td
                  %a{:href=>"https://www.barcelo.com/barcelohotels/es_es/hoteles/espana/valencia/hotel-barcelo-valencia/descripcion-general.aspx", target: "_blank"} https://www.barcelo.com/barcelohotels/es_es/hoteles/espana/valencia/hotel-barcelo-valencia/descripcion-general.aspx
              %tr
                %td Hotel NH Ciudad de Valencia 3*
                %td
                  %a{:href=>"http://www.nh-hoteles.es/hotel/nh-ciudad-de-valencia?dclid=CPSwra3uq8oCFcubFgodKakKOA", target: "_blank"} http://www.nh-hoteles.es/hotel/nh-ciudad-de-valencia?dclid=CPSwra3uq8oCFcubFgodKakKOA
              %tr
                %td Hotel Universidades 3*
                %td
                  %a{:href=>"http://www.hoteluniversidades.com", target: "_blank"} http://www.hoteluniversidades.com
              %tr
                %td Colegio Mayor Galileo Galilei
                %td
                  %a{:href=>"http://www.galileogalilei.com", target: "_blank"} http://www.galileogalilei.com
              %tr
                %td Residencia de Estudiantes Damiá Bonet
                %td
                  %a{:href=>"http://www.resa.es/es", target: "_blank"} http://www.resa.es/es
%section
  .container
    .row.mb30
      .col-lg-12.alert.alert-info
        %p
          %strong
            Información para Extranjeros
          Si usted no es un ciudadano de la Unión Europea, por favor, asegúrese de que cumple con todos los requisitos de entrada en España.
        %p.text-wrap
          %a{href: 'http://www.exteriores.gob.es/Portal/en/ServiciosAlCiudadano/InformacionParaExtranjeros/Paginas/Inicio.aspx'} http://www.exteriores.gob.es/Portal/en/ServiciosAlCiudadano/InformacionParaExtranjeros/Paginas/Inicio.aspx
