%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p Alumnos de doctorado participantes, 35 euros.
        %p Asistentes, 60 euros.
        %p Este precio incluye los cafés y la comida del día 5. Cada contribución requerirá el registro de, al menos, un participante antes del día 1 de Junio de 2017.
        %p Para inscribirse se deberá cumplimentar el siguiente formulario de registro (disponible a partir del 1 de Marzo).
