%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p El registro para todos los participantes es de 30 euros. Este precio incluye los cafés y la comida del día 5. Cada contribución requerirá el registro de, al menos, un participante antes del día 1 de Junio de 2017.
        %p Para inscribirse se deberá cumplimentar el siguiente formulario de registro (link al formulario).
        %p
          Para inscribirse se deberá cumplimentar el siguiente formulario de registro
          %a{:href => "#", :target=>"_blank"} formulario de registro.
