%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p Alumnos de doctorado participantes, 35 euros.
        %p Asistentes, 60 euros.
        %p Este precio incluye los cafés y la comida del día 5. Cada contribución requerirá el registro de, al menos, un participante antes del día 1 de Junio de 2017.
        %p
          %a{:href=>"https://goo.gl/Z84Os0", target: "_blank"} Link al formulario de registro
        %p Política de Cancelación: 100% hasta el 1 de Junio y 50% a partir del 1 de Junio.
