/ footer
%footer
  %section#mainFooter
    #footer.container
      .row
        .col-sm-4
          .footerWidgetLeft
            %img#footerLogo{:src => "/images/logos/cigeo_logo.png"}
            %a{href: 'http://www.upv.es/', target: '_blank'}
              %img#footerLogo{:src => "/images/upv_logo.jpg"}
            %a{href: 'http://www.upm.es/', target: '_blank'}
              %img#footerLogo{:src => '/images/logos/logo_upm_main.png'}
            %a{href: 'http://www.upv.es/entidades/DICGF/index-es.html', target: '_blank'}
              %img#footerLogoSmall{:src => "/images/dicgf.png"}
            %a{href: 'http://www.topografia.upm.es/portal/site/ETSITopografia', target: '_blank'}
              %img#footerLogoSmall{:src => '/images/logos/upm_logo.png'}
            %a{href: 'http://www.upv.es/entidades/ETSIGCT/', target: '_blank'}
              %img#footerLogo{:src => "/images/ETSIGCT_logo.png"}
        .col-sm-8
          %h3 Información de contacto
          %p
            Para cualquier duda o comentario, envíe un correo electrónico a:
            %a{href: 'mailto:geomatica2017@upv.es'} geomatica2017@upv.es
          .row
            .col-sm-12
              %h4
                Comité local:
              %ul
                %li Jorge Padin Devesa
                %li José Luis Lerma García
                %li Angel Martín Furones
            .row
              .col-md-12.mt30
                %h4
                  %b Agradecimientos
                %p.small Algunas imágenes utilizadas en el sitio web se consiguieron a través de Wikimedia Commons. En concreto se utilizaron las imágenes abajo indicadas, previa reducción de tamaño para su uso en la web. El resto de imágenes utilizadas fueron cedidas por José Luis Lerma y Ángel Marqués.
                %ul.small
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Ciutat_de_les_Arts_i_les_Ci%C3%A8ncies_%C3%A0_la_noche.jpg'} Ciutat de les Arts i les Ciències at night
                    por Emilio García
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Valencia_-_Estacio_del_Nord_01.jpg'} Estació del Nord
                    por Mihael Grmek
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Mercado_Central,_Valencia,_Espa%C3%B1a,_2014-06-30,_DD_116.JPG'} Mercat Central
                    por Diego Delso
                  %li
                    %a{href: 'https://www.flickr.com/photos/high__voltage/6686826315'} Valencia
                    por Federico Galarraga
