%section#dates.slice.color4
  .container
    .row
      .col-xs-1
      .col-xs-10
        %p El registro comenzará a partir del 1 de Marzo de 2017.
        %p Los artículos se deberán presentar antes del día 15 de Mayo de 2017 en el formato correspondiente. Únicamente aquellos trabajos que cumplan este requisito tendrán garantizada su exposición en las jornadas.
      .col-xs-1
