%section#dates.slice.color4
  .container
    .row
      .col-xs-1
      .col-xs-10
        %p Los artículos se deberán presentar antes del día 1 de Junio de 2017 en el formato correspondiente. Únicamente aquellos trabajos que cumplan este requisito tendrán garantizada su exposición en las jornadas.
      .col-xs-1
