%section#keynote.slice
  .container
    .row
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/colomina.jpg"}
        %h3 Ismael Colomina y Folch
        %p Ismael Colomina Folch es, desde 2015, Jefe Científico de la empresa Geonumerics. Fue Jefe de Geomática del Centro Tecnológico de Comunicaciones de Cataluña (CTTC, Castelldefels, España) desde principios de 2014. Anteriormente, entre 1998 y 2013 fue Director del Instituto de Geomática (IG) y Jefe de Geodesia del Instituto de Cartografía de Cataluña (ICC) donde trabajó desde 1982 hasta 1998. Es experto internacional en navegación y determinación de trayectorias post-misión INS/GNSS para aplicaciones de geodesia, fotogrametría y teledetección. También es un experto en orientación y calibración de sensores. Pertenece al grupo de geomaticians, pionero en el uso de aviones no tripulados en fotogrametría y teledetección. Desde 1992, Colomina ha servido como presidente y copresidente de los Grupos de Trabajo de la ISPRS (WGs) y actualmente del WG III/I "Modelado de Sensores para Orientación y Navegación Integradas". También fue Presidente de la Comisión I de EuroSDR "Sensores, Adquisición de datos y georreferenciación" de 2002 a 2006.
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/benito.jpg"}
        %h3 Belén Benito Oterino
        %p Belén Oterino es la Directora del grupo de investigación en Ingeniería Sísmica de la Universidad Politécnica de Madrid, de donde es catedrática.
        %p Su experiencia profesional incluye: Vigilancia sísmica de emplazamientos de Instalaciones críticas (Consejo de Seguridad Nuclear, CSN y Empresa Nacional de Residuos Radiactivos, ENRESA). Estudios de peligrosidad sísmica para la revisión de normas sismorresistentes Españolas (NCSE-94 y NCSE-02). Consultoría para la definición de la acción sísmica en emplazamientos de instalaciones especiales, como centrales nucleares, presas, puentes, plantas industriales e ITER. Dirección de estudios de Riesgo Sísmico para la definición de planes de emergencia en la Comunidad Autónoma de Andalucía, Diputación Foral de Navarra y Región de Murcia (Protección Civil). Dirección de estudios y proyectos de cooperación en temas de amenaza sísmica en Centroamérica y Caribe.
        %p Ha sido investigadora principal en 25 proyectos de investigación de financiación pública y tiene más de 70 publicaciones en revistas científicas.
      .col-md-4
        %img.img-circle.keynote-speaker.mb30.center-block{src: "/images/keynote/ruiz.jpg"}
        %h3 Antonio Ruiz Verdú
        %p Antonio Ruiz Verdú tiene una larga experiencia en el uso de teledetección para la monitorización de parámetros biofísicos. Desde 2013, trabaja como investigador en el Laboratorio de Observación de la Tierra (LEO) de la Universitat de València. Trabajó anteriormente en las Agencias Gubernamentales de Investigación Espacial (INTA, 2008-2012) y de investigación aplicada en el ámbito hidrológico y ecológico (CEDEX, 1996-2007), en la que participó en estudios para la cartografía de cultivos y necesidades hídricas para la agricultura. Ha participado en proyectos financiados por la ESA (SPARC, SEN2FLEX, SEN3EXP) dedicados a la preparación de nuevas misiones de observación de la Tierra y la validación de algoritmos para la recuperación de parámetros biofísicos.
