%section#fees.slice
  .container
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th.timecol &nbsp;
                %th Día 5
            %tbody
              %tr
                %td 9:00-9:30
                %td Presentación de las jornadas: Amparo Chiralt (Directora de la escuela de doctorado de la UPV), Xavier Navarro (Director del Instituto Cartográfico Valenciano) y José Luis Lerma (Coordinador del programa de doctorado en Ingeniería Geomática)
              %tr
                %td 9:30-10:30
                %td Conferencia invitada: Ismael Colomina i Fosch (Jefe científico de Geonumerics)
              %tr
                %td 10:30-11:30
                %td Sesión 1
              %tr
                %td 11:30-12:00
                %td Pausa para café
              %tr
                %td 12:00-13:30
                %td Sesión 2
              %tr
                %td 13:30-14:30
                %td Pausa para la comida
              %tr
                %td 14:30-15:15
                %td Conferencia invitada: Belén Benito  (Directora del grupo de investigación en Ingeniería Sísmica de la Universidad Politécnica de Madrid)
              %tr
                %td 15:15-16:30
                %td Sesión 3
              %tr
                %td 16:30-17:00
                %td Pausa para café
              %tr
                %td 17:00-18:30
                %td Sesión 4
              %tr
                %td 18:30-19:30
                %td Sesión de Posters
      .col-xs-1
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th.timecol &nbsp;
                %th Día 6
            %tbody
              %tr
                %td 9:00-9:45
                %td Conferencia invitada: Antonio Ruiz (Científico del laboratorio de observación de la Tierra, Universidad de Valencia)
              %tr
                %td 9:45-11:00
                %td Sesión 5
              %tr
                %td 11:00-11:30
                %td Pausa para café
              %tr
                %td 11:30-13:00
                %td Sesión 6
              %tr
                %td 13:30-14:00
                %td Clausura de las jornadas
      .col-xs-1
