%section#fees.slice
  .container
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th &nbsp;
                %th Día 5
                %th &nbsp;
                %th &nbsp;
            %tbody
              %tr
                %td 9:00-9:30
                %td Presentación de las jornadas
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 9:30-10:30
                %td Conferencia invitada
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 10:30-11:00
                %td Pausa para café
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 11:00-11:20
                %td Ponencia 1 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 11:20-11:40
                %td Ponencia 2 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 11:40-12:00
                %td Ponencia 3 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 12:00-12:20
                %td Ponencia 4 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 12:20-12:40
                %td Ponencia 5 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 12:40-13:00
                %td Ponencia 6 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 13:00-14:00
                %td Comida
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 14:00-15:00
                %td Conferencia invitada
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 15:00-15:20
                %td Ponencia 7 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 15:20-15:40
                %td Ponencia 8 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 15:40-16:00
                %td Ponencia 9 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 16:00-16:30
                %td Pausa para café
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 16:30-16:50
                %td Ponencia 10 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 16:50-17:10
                %td Ponencia 11 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 17:10-17:30
                %td Ponencia 12 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 17:30-17:50
                %td Ponencia 13 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 17:50-18:10
                %td Ponencia 14 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 18:10-18:30
                %td Ponencia 15 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 18:30-19:00
                %td
                  Posters:
                  %br
                  Poster 1 (título/autores)
                  %br
                  Poster 2 (título/autores)
                  %br
                  Poster 3 (título/autores)
                %td
                  %br
                  Articulo
                  %br
                  Articulo
                  %br
                  Articulo
                %td
                  %br
                  Presentación
                  %br
                  Presentación
                  %br
                  Presentación
      .col-xs-1
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th &nbsp;
                %th Día 6
                %th &nbsp;
                %th &nbsp;
            %tbody
              %tr
                %td 9:00-10:00
                %td Conferencia invitada
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 10:00-10:20
                %td Ponencia 16 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 10:20-10:40
                %td Ponencia 17 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 10:40-11:00
                %td Ponencia 18 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 11:00-11:30
                %td Pausa para café
                %td &nbsp;
                %td &nbsp;
              %tr
                %td 11:30-11:50
                %td Ponencia 19 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 11:50-12:10
                %td Ponencia 20 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 12:10-12:30
                %td Ponencia 21 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 12:30-12:50
                %td Ponencia 22 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 12:50-13:10
                %td Ponencia 23 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 13:10-13:30
                %td Ponencia 24 (título/autores)
                %td Articulo
                %td Presentación
              %tr
                %td 13:30-14:00
                %td Clausura de las jornadas
                %td &nbsp;
                %td &nbsp;
      .col-xs-1
