.row
  %ul
    .col-md-2
    .col-md-4
      %li José Luis Lerma García (UPV)
      %li Ángel Martín Furones (UPV)
      %li Josep E. Pardo Pascual (UPV)
      %li José Carlos Martínez Llario (UPV)
      %li Belén Benito Oterino (UPM)
      %li Mercedes Farjas Abadía (UPM)
    .col-md-4
      %li Miguel Ángel Manso Callejo (UPM)
      %li José Fernández  Torres (UPM)
      %li María Flor Álvarez Taboada (U. León)
      %li Amparo Núñez Andrés (UPC)
      %li Diego González Aguilera (U. Salamanca)
      %li Eduardo García Meléndez (U. León)
    .col-md-2
