.row
  %ul
    .col-md-3
      %li Alex Yen
      %li Alfredo Grande
      %li Ana Almagro Vidal
      %li Andreas Georgopoulos
      %li Arivaldo Leao de Amorim
      %li Clifford Leslie Ogleby
      %li Daniel Pletinckx
      %li David Hernández López
      %li Diego González-Aguilera
      %li Ester Alba Pagán
    .col-md-3
      %li Fabio Remondino
      %li Frank Boochs
      %li Fulvio Rinaudo
      %li Geert Verhoeven
      %li Grazia Tucci
      %li Jin Shang
      %li Jorge Onrubia Pintado
      %li José Juan de Sanjosé Blasco
      %li José Luis Jiménez
      %li José Luis Lerma
    .col-md-3
      %li José Ignacio Rojas Sola
      %li Juan Antonio Barceló
      %li Klaus Hanke
      %li Luis Hernández Ibáñez
      %li Mario Santana Quintero
      %li Marinos Ioannides
      %li Mercedes Farjas Abadía
      %li Michael Doneus
      %li Minna Lonnqvist
      %li Pablo Rodríguez-Navarro
    .col-md-3
      %li Petros Patias
      %li Pierre Grussenmeyer
      %li Rand Eppich
      %li Raphaele Heno
      %li Robert Sablatnig
      %li Sebastián Ramallo Asensio
      %li Stratos Stylianidis
      %li Thomas E. Levy
      %li Víctor Manuel López-Menchero
