.row
  %ul
    .col-md-2
    .col-md-4
      %li Álvarez Taboada, M.F. (U. León)
      %li Benito Oterino, B. (UPM)
      %li Berné Valero, J.L. (UPV)
      %li Farjas Abadía, M. (UPM)
      %li Fernández Torres, J. (CSIC)
      %li García Meléndez, E. (U. León)
      %li González Aguilera, D. (U. Salamanca)
    .col-md-4
      %li Lerma García, J.L. (UPV)
      %li Manso Callejo, M.A. (UPM)
      %li Martín Furones, A. (UPV)
      %li Martínez Llario, J.C. (UPV)
      %li Núñez Andrés, A. (UPC)
      %li Pardo Pascual, J.E. (UPV)
    .col-md-2
